body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(171, 169, 169);
}

#heading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

/* ///////////////////////////////////////////////  */
#activity {
  display: flex;
  flex-direction: row;
  height: 600px;
}

#left_activity {
  width: 15%;
  min-width: 300px;
  margin: 5px 20px 0px 5px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  padding: 10px;
  overflow-y: auto;
  flex-direction: column;
}

#right_activity {
  display: flex;
  flex: 1;
  margin: 5px 5px 0px 5px;
  border: 1px solid white;
}

#right_activity_container {
  display: flex;
  flex: 1;
  position: relative;
  border: 10px solid green;
}

/* ///////////////////////////////////////////////////////// */

.both_ends_div {
  height: 15px;
  width: 150px;
  background-color: black;
  resize: both;
  overflow: auto;
  margin: 5px 2px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.white_stripe {
  background-color: aliceblue;
  width: 10%;
  max-width: 10px;
  /* display: flex;
  flex: 1; */
  margin: 0;
}

.black_stripe {
  flex: 1;
}

/* ///////////////////// */
.both_ends {
  width: 70px;
  height: 20px;
  background-color: black;
  margin: 10px;
  position: relative;
}

.right_both_ends_white_stripe {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  background-color: white;
  width: 10px;
}

.left_both_ends_white_stripe {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  background-color: white;
  width: 10px;
}


/* //////////////////////////////////////////////////// */

.left_end {
  width: 70px;
  height: 20px;
  background-color: black;
  margin: 10px;
  position: relative;
}

.left_left_end_white_stripe {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  background-color: white;
  width: 10px;
}

/* //////////////////////////////////////////////////// */

.right_end {
  width: 70px;
  height: 20px;
  background-color: black;
  margin: 10px;
  position: relative;
}

.right_right_ends_white_stripe {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  background-color: white;
  width: 10px;
}


/* ////////////////////////////////////////////// */
.both_ends_vertical {
  width: 20px;
  height: 70px;
  background-color: black;
  margin: 10px;
  position: relative;
}

.top_both_ends_vertical_white_stripe {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 10px;
  width: 100%;
  background-color: white;
}

.bottom_both_ends_vertical_white_stripe {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 10px;
  width: 100%;
  background-color: white;
}

/* //////////////////////////////////////// */


.both_ends_closed_vertical {
  width: 20px;
  height: 70px;
  background-color: black;
  margin: 10px;
  position: relative;
}


/*////////////////// COMMON //////////////*/
.resize_box {
  position: absolute;
}

.top {
  border-top: 3px solid yellow;
  top: 0px;
  left: 0px;
  height: 0px;
  width: 100%;
  cursor: row-resize;

}

.right {
  border-right: 3px solid yellow;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 0px;
  cursor: col-resize;

}

.bottom {
  border-bottom: 3px solid yellow;
  bottom: 0px;
  left: 0px;
  height: 0;
  width: 100%;
  cursor: row-resize;
}

.left {
  border-left: 3px solid yellow;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 0px;
  cursor: col-resize;
}

/* /////////////////////////////////// */

.top_pm_img {
  position: relative;
  width: 200px;
  height: 70px;
  background-image: url('./imgs/top_pm.png');
  background-repeat: no-repeat;
  background-size: contain;
}


/* ////////////////////////////////  */
.top_pm {
  position: relative;
  width: 140px;
  height: 70px;
  margin: 20px;
}

.main_line {
  border-bottom: 10px solid black;
}

.top_left_line {
  height: 80%;
  width: 100%;
  background:linear-gradient(45deg,rgb(171, 169, 169) 47%,rgb(0, 0, 0) 50%,rgb(171, 169, 169) 52%);
}

/* //////////////////////////////////////////////// */


/*  */
#properties {
  display: flex;
  flex-direction: row;
}

#left_property {
  width: 15%;
  min-width: 300px;
  margin: 5px 20px 0px 5px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  padding: 10px;
  flex-direction: column;
}

#right_property {
  display: flex;
  flex: 1;
  margin: 5px 5px 0px 5px;
  border: 1px solid white;
  padding: 20px;
  justify-content: space-around;
}

.form-field {
  display: flex;
  flex-direction: row;
}

.form_label {
  width: 100px;
}


/* ////// */

#display_result {
 width: 100%;
 margin-top: 20px; 
}

.eachEl {
  margin-bottom: 10px;
  border-bottom: 1px solid red;
  padding-bottom: 10px;
}

.eachInfo {
  display: flex;
  flex-direction: row;
}

.label {
  width: 30%;
}
